*{
            margin: 0px;
            padding: 0px;
            font-family: sans-serif;
        }
        body
        {
            width : 100%;
            display:flex;
            height : 100vh;
            background-color:  yellow;
        }

        .leftPart
        {
            flex-basis: 50%;
            background-color: aqua;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content
        {
            flex-basis: 33%;
            background-color:blueviolet;
        }

        .rightPart
        {
            flex-basis: 50%;
            background-color: white;
            height: 100%;
        }
        .leftPart .content label
        {
            background-color: black;
            display: block;
            color: white;
            padding: 10px 0px;
        }
        .leftPart .content textarea
        {
            width:calc(100% - 20px);
            outline: none;
            background-color: black;
            color: white;
            padding: 10px;
            border: none;
            height:calc(82% - 20px);
        }

        .rightPart label
        {
            display: block;
            padding: 10px;
            background-color: plum;
            color: white;
        }
        .rightPart iframe
        {
            display:block;
            width: 100%;
            height:90%;
            border: none;
            box-sizing: border-box;
            
        }